name: lint
permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint-python:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
          python-version: "3.14"
      - name: Install cli tools
        run: |
          uv tool install yamk
      - name: Install dependencies
        env:
          UV_GROUPS: --no-dev --group lint
        run: |
          cd python
          yam install
      - name: Lint the project
        run: |
          cd python
          yam -e lint
  lint-rust:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: false
          python-version: "3.14"
      - name: Install stable rust toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          toolchain: stable
          components: rustfmt
      - name: Install cli tools
        run: |
          uv tool install yamk
      - name: Lint the project
        run: |
          cd rust
          rustup default stable
          yam -e lint
